

.App {
  text-align: center;
  background: url(/image/background.png) no-repeat;
    /* background-color: #FAFAFA; */
  background-size: 100% 150%;
  /* background-color: #FAFAFA;  */
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;

}



.header-color{
  background-color:rgba(59, 85, 201, 0.836);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#todo-form input{
  margin:20px;
  height:30px;
  width:300px
}

.radioButton select option, .radioButton select {
  font-size: 20px;
}

#todos {
  border: 4px solid black;
  padding:15px;
  background-color: rgb(47, 76, 110);
  width: 750px;
  color: wheat;
}

#todo-form button:hover{
 
 background-color:green
  
}
#todo-form button{
border-radius: 10px;
}


.ItemStyle,.EditStyle{
  margin:20px;
}
.EditStyle:hover{
 
  background-color: rgb(31, 243, 208)
}
.ItemStyle:hover{
 
  background-color:crimson
}

.orderedList input{
  background-color: transparent;
  border:0;
  color:white;
  font-size: 18px;
}
/* .list li input:focus{
  outline: none;
} */
.GreenColor input{
  background-color: green;
  color:white
}
.BlueColor input{
  background-color: blueviolet;
  color:white
}
.YellowColor input{
  background-color: yellow;
  color: black;
}
.FavStyle:hover{
  cursor: pointer;
}
.FavStyle{
  size:100px;
}

.pagination label,.pagination select ,.pagination option{
  
  margin:10px;
  display: inline-block;
  
}
.BookMark label{
margin:10px;
margin-right: 650px;
width:20px;
height: 30px;
display: block;
align-items: center;
justify-content: left;
cursor: pointer;
}

.BookMark label:hover{
color: rgb(84, 112, 235);

}

.BookMark input:checked~label{ 
color: lawngreen;
}

#checkBox{
  margin:10px;
}
.d{
  background-color: #63486e;
  margin-top: 5px;
  color: black;
  
}
.b{
  background-color:whitesmoke;
  margin-top: 5px;
  color: black;
  
}
.f button{
  /* background-color: #9e9ea1; */
  /* background-color:pink; */
  background-color:rgb(80, 145, 145);
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d3d6b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: black;
}

#status {
  margin: 10px;
}

.radioButton input{

margin:10px;

}

.searchText{
  margin-right: 40px;
  /* color: #61dafb;
  background-color: #63486e; */
  /* vertical-align: 0px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
